<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white wawa-pet">
    </div>
</div>

<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/1.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/2.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/3.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/4.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/5.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/6.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/7.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/8.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/9.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/10.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/11.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/12a.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/12b.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/12d.svg" alt="">
    </div>
</div>

<div id="page-1" class="snap-start min-w-full h-full grid place-content-center">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white">
        <div id="example-one" class="p-12">
            <%= partial("home/s_charge_one.html") %>
        </div>
    </div>
</div>

<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/14.svg" alt="">
    </div>
</div>

<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/13.svg" alt="">
    </div>
</div>

<div id="page-2" class="snap-start min-w-full h-full grid place-content-center">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white">
        <div id="example-two" class="p-12">
            <%= partial("home/s_charge_two.html") %>
        </div>
    </div>
</div>

<div id="page-3" class="snap-start min-w-full h-full grid place-content-center">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white">
        <div id="example-three" class="p-12">
            <%= partial("home/s_payment_one.html") %>
        </div>
    </div>
</div>

<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/14b.svg" alt="">
    </div>
</div>

<div id="page-4" class="snap-start min-w-full h-full grid place-content-center">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white">
        <div id="example-four" class="p-12">
            <%= partial("home/s_charge_one_app_fee.html") %>
        </div>
    </div>
</div>

<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/18.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/c-3.svg" alt="">
    </div>
</div>
<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white shadow-lg">
        <img src="/public/s-images/15.svg" alt="">
    </div>
</div>

<!-- <div id="page-5" class="snap-start min-w-full h-full grid place-content-center">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white">
        <div id="example-five" class="p-12">
            <%= partial("home/s_payment_two.html") %>
        </div>
    </div>
</div> -->
