<div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white wawa-pet">
    </div>
</div>

<div id="page-1" class="snap-start min-w-full h-full grid place-content-center">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white">
        <div id="example-one" class="p-12">
            <%= partial("home/s_charge_one.html") %>
        </div>
    </div>
</div>

<div id="page-2" class="snap-start min-w-full h-full grid place-content-center">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white">
        <div id="example-two" class="p-12">
            <%= partial("home/s_charge_two.html") %>
        </div>
    </div>
</div>

<div id="page-3" class="snap-start min-w-full h-full grid place-content-center">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white">
        <div id="example-three" class="p-12">
            <%= partial("home/s_payment_one.html") %>
        </div>
    </div>
</div>

<div id="page-4" class="snap-start min-w-full h-full grid place-content-center">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg bg-white">
        <div id="example-four" class="p-12">
            <%= partial("home/s_payment_two.html") %>
        </div>
    </div>
</div>

<!-- <div class="snap-start min-w-full h-full grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg shadow-lg bg-white wawa-background">
      <h1 class="text-center text-black text-4xl my-5">My title</h1>
        <div class="container">
            <div class=""></div>
        </div>
    </div>
</div>
  
<div class="snap-start min-w-full h-full bg-indigo-500 grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg shadow-lg bg-white">
        <h1 class="text-center text-black text-4xl my-5">My title</h1>
    </div>
</div>

<div class="snap-start min-w-full h-full bg-violet-500 grid place-content-center text-white">
    <div class="min-w-[90vw] min-h-[90vh] rounded-lg shadow-lg bg-white">
        <h1 class="text-center text-black text-4xl my-5">My title</h1>
    </div>
</div> -->